<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/Clouds-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{>header}}
    <div class="container">
        <form>
            <input type="text" name="search" placeholder="location...">
            <button type="submit">search</button>
        </form>

        <div class="result">
            <div class="result">
                <div class="location-tracker">
                    <h3 class="location"></h3>
                    <span class="temperature"></span>
                </div>
                <h3 class="details"></h3>
                <p class="error"></p>
            </div>

        </div>

    </div>
    {{>footer}}


    <script src="/js/main.js"></script>
</body>
</html>
